.cw-logo {
  max-width: 40px;
}

.blogform {
  display: flex;
  justify-content: center;
  margin-top: 4rem;
}

.dashboard-header {
  text-align: center;
  color: #046582;
  font-size: 3rem;
  font-weight: 400;
  margin-top: 0;
}

@media only screen and (max-width: 768px) {
  .dashboard-header {
    width: 100%;
    font-size: 1.5rem;
  }
}

/* .dashboard-content {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
} */
